a {
  color: #466995;
  text-decoration: underline;
  cursor: pointer;
}
a:link{

}

a:visited, .question-link:visited{
  color: #ffffff;

}

a:hover {
  text-decoration: none;
}

a:active, .question-link:active{
  color: #DBE9EE;

}